@font-face {
    font-family: "Coda";
    src: url("/fonts/Coda-ExtraBold.ttf") format('truetype');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Coda";
    src: url("/fonts/Coda-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

.navbar-link {
    @apply flex items-center font-coda duration-200 h-full text-xl h-20 text-white hover:text-transparent bg-clip-text bg-gradient-to-r from-orange-500 to-amber-500
}

@tailwind base;
@tailwind components;
@tailwind utilities;